.Form-div {
  display: grid;
  place-items: center;
  height: 100vh;
}

.Add-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error-div {
  color: red;
}

.Footer {
  display: flex;
  align-items: center;
}
